/* asterix wildcard selector to overide default rules from browser */

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

/* general styles */
.ibm-plex-serif-thin {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: normal;
  }
  
.ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
  }
  
.ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  
.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
.ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.ibm-plex-serif-thin-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: italic;
  }
  
.ibm-plex-serif-extralight-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: italic;
  }
  
.ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
  }
  
.ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.ibm-plex-serif-medium-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
  }
  
.ibm-plex-serif-semibold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
  }
  
.ibm-plex-serif-bold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
.zilla-slab-light {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.zilla-slab-regular {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.zilla-slab-medium {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.zilla-slab-semibold {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.zilla-slab-bold {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.zilla-slab-light-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.zilla-slab-regular-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.zilla-slab-medium-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.zilla-slab-semibold-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
.zilla-slab-bold-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

header {
    background-color: lightsalmon;
}

h1 {
    font-family: 'ibm plex serif', sans-serif;
}

main {
    background-color: lightblue;
    /* makes the main element take up surplus space to push footer down */
    flex: 1 0 auto;
}

footer {
    background-color: lightgreen;
}
