/* asterix wildcard selector to overide default rules from browser */

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

/* general styles */
.ibm-plex-serif-thin {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: normal;
  }
  
.ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
  }
  
.ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  
.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
.ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.ibm-plex-serif-thin-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: italic;
  }
  
.ibm-plex-serif-extralight-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: italic;
  }
  
.ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
  }
  
.ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.ibm-plex-serif-medium-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
  }
  
.ibm-plex-serif-semibold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
  }
  
.ibm-plex-serif-bold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
.zilla-slab-light {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.zilla-slab-regular {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.zilla-slab-medium {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.zilla-slab-semibold {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.zilla-slab-bold {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.zilla-slab-light-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.zilla-slab-regular-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.zilla-slab-medium-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.zilla-slab-semibold-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
.zilla-slab-bold-italic {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

.active {
  border-bottom: 1px solid #3a3a3a;
}

#Menu {
  font-weight: 1.1em;
  letter-spacing: 2px;
  list-style-type: none;
}  

#Menu > li {
  margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem;
  left: 0;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
    font-family: 'ibm plex serif', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

main {
    /* makes the main element take up surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* hero section styles */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
}

footer {
    background-color: lightgreen;
}

/* media query for tablets and larger (768px and above) */
@media screen and (min-width:768px) {
  /* header */
  nav { 
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #Menu {
    display: flex;
  }

  #Menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }
}